﻿
body {
    padding-top: 50px;
    padding-bottom: 20px;
    border-color: aqua;
    border-left: 100px;
    border-right: 100px;
}
.container{
    
}

/* Set padding to keep content from hitting the edges 50 20 15 15 */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#navlink{
   padding: 0px 0px 0px 0px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#footer {
    font-family:  'Book Antiqua' , Arial, sans-serif;
    clear: both;
    border: 0px groove #aaaaaa;
    background: transparent;
    color: black;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin-bottom:  auto;
    position: relative;
    bottom: 0px;
    width: 100%;
}