﻿@model UserSystemTest.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <div class="row">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal col-md-8", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Your position</label>
                <div class="col-md-10">
                    @{
                        var selectList = new SelectList(
                            new List<SelectListItem>
                            {
                        new SelectListItem {Text = "I am a worker", Value = "Worker"},
                        new SelectListItem {Text = "I am an custumer", Value = "Custumer"},
                            }, "Value", "Text");
                    }

                    @Html.DropDownListFor(m => m.Role, selectList, "Select a position", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>

        }
        <div class="col-md-4"><img src="/Content/Images/contact.png"> </div>
    </div>
</div>