﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Water tracking</title>
    <link rel="icon" type="image" href="~/Content/Images/main2.png" />

    <link rel="stylesheet" href="~/Content/leaflet/leaflet.css" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.js" defer></script>
    <script src="~/Content/leaflet/leaflet.js" defer></script>
    <script src="/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>  
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-stacked">
                    <li><a href="~/Home/Index" id="navlink"><img class="top" src="https://cdn2.iconfinder.com/data/icons/ikooni-outline-seo-web/128/seo3-65-48.png" /></a></li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="~/Home/About" id="navlink"><img src="https://cdn2.iconfinder.com/data/icons/ikooni-outline-seo-web/128/seo3-62-48.png" /></a></li>
                    <li>@Html.ActionLink("How it works", "About", "Home")</li>



                    @if (Request.IsAuthenticated)
    {
                <li><a href="~/Data/Index" id="navlink"><img src="https://cdn4.iconfinder.com/data/icons/finances4/1267/calendar136-48.png" /></a></li>
                <li>@Html.ActionLink("Data", "Index", "Data")</li>
    }
                    <li><a href="~/Track/Index" id="navlink"> <img src="https://cdn2.iconfinder.com/data/icons/business-charts/512/trends-48.png" /> </a></li>
                    <li>@Html.ActionLink("Track", "Index", "Track")</li>


                    @if (User.IsInRole("Custumer"))
    {
                <li><a href="~/Settings/Index" id="navlink"><img src="https://cdn2.iconfinder.com/data/icons/ikooni-outline-seo-web/128/seo3-57-48.png" /></a></li>
                <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
    }
                    <!--<li><img src="https://cdn2.iconfinder.com/data/icons/business-charts/512/money_emission-48.png" /></li>-->

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer  id="footer">
            <p>&copy; @DateTime.Now.Year - Ukraine, Rivne &hearts;</p>
        </footer>
    </div>

  
    @RenderSection("scripts", required: false)
   
      
    
</body>
</html>
