﻿@model UserSystemTest.Models.Data

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sensor.NameID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sensor.NameID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhenIsAddedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhenIsAddedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Water)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Water)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DataID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
