﻿@model IEnumerable<UserSystemTest.Models.Data>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sensor.NameID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhenIsAddedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Water)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sensor.NameID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhenIsAddedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Water)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DataID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DataID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DataID })
        </td>
    </tr>
}

</table>
