﻿
<style>
    .mainitem {
        font-weight: 900
    }
    .imageitem {
        height: 50%;
        width: 50%;
    }
</style>
<div class="container">
    <h2 align="center" class="mainitem">How it works</h2>
    <span class="col-md-offset-1">

        <img class="col-sm-offset-6" src="https://cdn3.iconfinder.com/data/icons/business-213/842/timetable-asks-color-512.png" />
    </span>
    <p class="mainitem">
        1) If you are a new user go to the register page and create your acccount,
        <br />
        choose your role depending on the role in a job.
    </p>

    <img class="imageitem" src="~/Content/Images/register.png" />
    <hr />
    <p class="mainitem">
        2) If you are a Worker then, ask your custumer about your credits.
        <br />
        Otherwise, go to the track section and Add your first sensor.
    </p>
    <hr />
    <img src="~/Content/Images/addsensor.png" class="imageitem" />
    <hr />
    <p class="mainitem">3) On the submenu 'My sensors', we can see ours sensors </p>
    <hr />
    <img src="~/Content/Images/mysensors.png">
    <hr />

    <p class="mainitem">3) Click once on some sensors to see the last, middle data or the graph </p>
    <hr />
    <img src="~/Content/Images/graph2.png">
    <hr />
</div>
