﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    img {
      
      //  width: 200px;
        //height: 200px;
    }
</style>

<div class="container">
    <div>
        <img style=" width: 100%; height: 100%; " src="~/Content/Images/maping2.png" />
    </div>
    <style>

        h2 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 250%;
        }

        p {
            font-family: 'Times New Roman',  Aharoni, Helvetica, sans-serif;
            font-size: 14pt;
            font-weight:300;
        }
    </style>
    <div class="row">
        <div class="col-md-6">
            <h2>About the project</h2>
            <p>
                Automatic processes have become an indispensable part of our lives, we use them everywhere. Our project is to help to control of water reserves in the process of using them in the agricultural sector. Receive real-time messages, update sensor data, observe schedule changes, monitor workers,  add data and much more.
            </p>
            <p>
                - Electronic sensor for water and bateries
            </p>
            <p>   - IIS server for working with sensors </p>
            <p>  - Server part is written on ASP.NET MVC 5 </p>
            <p> - Web technology as JS, JQuery, Bootstrap, JSON, SMTP</p>

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">More details &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Sun battery is the future</h2>
            <p>Free, ecologic clear energy</p>
            <p>Let's use it as we do</p>
            <img src="~/Content/Images/plata3.jpg" style="width:100%;">
        </div>
   
        </div>
</div>
